<!DOCTYPE html >
<html lang="en" ng-app="formval">
<head >
	<title >dnacenta</title >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/main.css" rel="stylesheet" >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
</head >

<body >
<nav class="navbar navbar-inverse navbar-fixed-top" >
	<div class="container" >
		<div class="navbar-header" >
			<a class="navbar-brand"
			   href="/" >Form validation for AngularJS
			</a >
		</div >
	</div >
</nav >

<div class="container main-content" ng-controller="FormValCtrl">

	<form ng-submit="onSubmit()">
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
						 ng-model="formModel.name"
			       id="name" >
		</div >

		<div class="form-group" >
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
						 ng-model="formModel.email"
			       id="email"
						 required="required">
		</div >

		<div class="form-group" >
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
						 ng-model="formModel.username"
			       id="username"
						 required="required">
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
						 ng-model="formModel.age"
			       id="age" >
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
							class="form-control"
							ng-model="formModel.sex"
							id="sex"
							>
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
						 ng-model="formModel.password"
			       id="password"
						 required="required">
		</div >

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Register
			</button>
		</div>

		<pre>{{ formModel | json }}</pre>

	</form >

</div >

<script src="../libs/angular/angular.min.js" ></script >
<script>
	var app = angular.module('formval', []);


	app.controller('FormValCtrl', function ($scope, $http) {
		$scope.formModel = {};

		$scope.onSubmit = function () {
			console.log("Submited!");
			console.log($scope.formModel);

			$http.post('https://url.where.you.want.the.info.to.get.sent/', $scope.formModel).
				success(function (data) {
					console.log("Congrats")
				}).error(function(data) {
					console.log("Sorry, there was an error")
				});
		};
	});
</script>

</body >
</html >
